@import (less) '../vendor/bootstrap/less/bootstrap';
@import (less) '../vendor/font-awesome/less/font-awesome';
@import (less) '../vendor/lato/less/lato';

@import 'http://assets.okfn.org/themes/okfn/okf-panel.css';

@fa-font-path: '../vendor/font-awesome/fonts';
@lato-font-path: '../vendor/lato/font';
@color-okf-green: #7AB800;
@color-maybe: #39bef9;
@color-yes: #8bdd3a;
@color-no: #dd3d3a;

.footer-main {

}

.footer-meta {

}

.footer-attribution {

}

.footer-links {

}

#home-stats {
  background-color: @color-okf-green;
  color: white;
  margin-top: -20px;
  padding: 20px 0;
  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 48px;
  }
}

#home-stats-items {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  .col-md-3 {
    text-align: center;
    strong {
      padding: 5px 10px;
      background-color: darken(@color-okf-green, 5%);
    }
  }
}

.data-table-column-heading div {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  text-align: left;
  writing-mode: tb-rl;
  vertical-align: middle;
  padding: 8px 0;
  height: 75px;
  width: 90px;
  font-weight: bold;
}

.rank, .score {
  background-color: #f5f5f5;
}

.data-tools, .data-legend {
  min-height: 160px;
  .callout;
  .callout-default;
}

.callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}

.callout h4 {
  margin-top: 0;
}

.callout p:last-child {
  margin-bottom: 0;
}

.callout code,
.callout .highlight {
  background-color: #fff;
}

.callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}

.callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}

.callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.callout-default {
  background-color: #eee;
  border-color: #777;
}

ul.availability, ul.table-key {
  padding-left: 0;
  cursor: pointer;
}

.availability li {
  display: inline-block;
  width: 16px;
  background-color: #CCC;
  color: white;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 10px;
  text-align: center;
}

.table-key li {
  display: inline-block;
  border-left: 16px solid #CCC;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 10px;
}

.table-key li.maybe {
  border-color: @color-maybe;
}

.table-key li.yes {
  border-color: @color-yes;
}

.table-key li.no {
  border-color: @color-no;
}

.availability-comparative li {
  display: inline-block;
  line-height: 24px;
  width: 5px;
  padding-left: 0;
  padding-right: 0;
}

.availability-slice li {
  display: inline-block;
  line-height: 24px;
  width: 24px;
  padding-left: 3px;
  padding-right: 0;
}

.availability li.maybe {
  background-color: @color-maybe;
}

.availability li.yes {
  background-color: @color-yes;
}

.availability li.no {
  background-color: @color-no;
}

table { table-layout: fixed; }
table td { overflow: hidden; }
table tr th, table tr td {
  width: 4.5%;
}

table#comparative-table tr th:first-child, table#comparative-table tr td:first-child, table#comparative-table tr th:last-child, table#comparative-table tr td:last-child {
  width: 2% !important;
}

table tr td:first-child {
  text-align: right;
}

table tr td:last-child {
  text-align: left;
}

table#comparative-table tr th:nth-child(2), table#comparative-table tr td:nth-child(2) {
  width: 6% !important;
}

table#slice-table tr th:first-child, table#slice-table tr td:first-child {
  width: 2% !important;
}

table#slice-table tr th:nth-child(3), {
  width: 6% !important;
}

table#slice-table tr th:nth-child(2), {
  width: 1% !important;
}

.thing {
  display: none;
}

.popover {
  max-width: 360px;
  width: 360px;
}

.attention {
  text-align: center;
  background-color: #f5f5f5;
  padding: 16px;
}

.attention i {
  font-size: 64px;
}

#home-visualisation, #permalink-visualisation {
  width: 100%;
  height: 700px;
}

#place-intro {

    h1, .place-openness {
        font-size: 48px;
    }

    // overidding the MAP
    .odi-visualisation-header, .odi-visualisation-links {
      display: none !important;
    }
}

.place-openness {
  float: right;
  background-color: green;
  padding-left: 24px;
  padding-right: 24px;
}

.place-rank {
    background-color: #b1b1b1;
}

.navbar .nav > li > a:hover {
  color: #8e8e8e;
  background-color: #dfdfdf;
}

.navbar-default {
  border-width: 0;
}

#header {
  background-color: #FFF;
  height: 80px;
}

#header-brand {
  float: left;
  width: 300px;
  padding: 0 15px;
  a {
    display: block;
    margin: 10px 0;
    font-family: Lato;
    color: #7ab800;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .23em;
    line-height: 60px;
    img {
      float: left;
      margin-right: 15px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.has-sub-brand a {
    padding-top: 5px;
    line-height: 21px;
    img {
      margin-top: -5px;
    }
    span {
      display: block;
      font-weight: 300;
      font-size: 14px;
    }
  }
}

.icon-block {
  text-align: center;
  padding: 20px 0;
  background-color: #EEE;
  border-radius: 2px;
  .fa {
    font-size: 64px;
  }
}

.summary-compared {
  font-size: 0.75em;
}
