html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 160px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}
.data-glance {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.data-point {
  height: 2em;
  line-height: 2em;
  font-size: 1.125em;
}
.data-point-key {
  display: inline-block;
}
.data-point-value {
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  width: 2em;
  height: 2em;
}
