.DS_Store
*.pyc
*.sublime-project
*.sublime-workspace
*.iml
.idea
*.pid
cache/
output/
sandbox/*
bower_components/*
node_modules
content/pages/places/*
content/pages/datasets/*
content/pages/place/*
content/pages/dataset/*
config_instance.py
/cli/build
/cli/dist
/cli/*.egg-info
# data processing stuff
tmp/*
venv
