{% assign place_count = site.data.places | size %}
{% assign dataset_count_total = site.data.entries | size %}
{% assign dataset_count_open = site.data.entries | where: "openlicense", "Yes" | size %}
{% assign percentage_open = dataset_count_open | divided_by:dataset_count_total | times:100 %}
<div class="data-glance {{ include.data_glance_class }}">
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Countries</span> <span class="data-point-value">{{ place_count }}</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Datasets</span> <span class="data-point-value">{{ dataset_count_total }}</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Open Datasets</span> <span class="data-point-value">{{ dataset_count_open }}</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Percentage Open</span> <span class="data-point-value">{{ percentage_open }}%</span>
    </div>
</div>