<div class="data-glance {{ include.data_glance_class }}">
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Countries</span> <span class="data-point-value">11</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Datasets</span> <span class="data-point-value">11</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Number of Open Datasets</span> <span class="data-point-value">11</span>
    </div>
    <div class="data-point {{ include.data_point_class }}">
        <span class="data-point-key">Percentage Open</span> <span class="data-point-value">11%</span>
    </div>
</div>