<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-main col-md-9">
                <div class="footer-meta">
                    {% capture footer_meta %}{% include content/footer_meta.md %}{% endcapture %}
                    {{ footer_meta|markdownify }}
                </div>
                <div class="footer-attribution">
                    {% capture footer_attribution %}{% include content/footer_attribution.md %}{% endcapture %}
                    {{ footer_attribution|markdownify }}
                </div>
            </div>
            <div class="footer-links col-md-3">
                {% capture footer_links %}{% include content/footer_links.md %}{% endcapture %}
                {{ footer_links|markdownify }}
            </div>
        </div>
    </div>
</footer>