<div id="summary-stats" class="row">
  <div class="stat col-md-4 col-md-offset-1">
    <div class="burst">
      <strong>{{ scope.place_count[scope.value_lookup] }}</strong>
    </div>
    <span class="uppercase">{{ gettext('Places in the Index') }}</span>
    {% if scope.place_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.place_count[scope.value_lookup_previous]|int >
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.place_count[scope.value_lookup_previous]|int <
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.place_count[scope.value_lookup_previous] }} in {{ ODI.previous_year }}
    </small>
    {% endif %}
  </div>
  <div class="stat col-md-5">
    <div class="burst">
        <strong>{{ scope.open_count[scope.value_lookup] }}</strong>
        <i>{{ gettext('of') }}</i>
        <strong>{{ scope.entry_count[scope.value_lookup] }}</strong>
    </div>
    <span class="uppercase">{{ gettext('Key datasets in the Index are open') }}</span>
    {% if scope.entry_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.entry_count[scope.value_lookup_previous]|int >
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.entry_count[scope.value_lookup_previous]|int <
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.open_count[scope.value_lookup_previous] }} of {{ scope.entry_count[scope.value_lookup_previous] }} in {{ ODI.previous_year }}
    </small>
    {% endif %}
  </div>
</div>
