<div id="summary-stats" class="row">
  <div class="stat col-md-4 col-md-offset-2">
    <strong>{{ scope.place_count[scope.value_lookup] }}</strong>
    <span>{{ scope.place_count.title }}</span>
    {% if scope.place_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.place_count[scope.value_lookup_previous]|int >
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.place_count[scope.value_lookup_previous]|int <
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.place_count[scope.value_lookup_previous] }} in {{ ODI.previous_year }}
    </small>
    {% endif %}
  </div>
  <div class="stat col-md-4">
    <strong>{{ scope.entry_count[scope.value_lookup] }}</strong>
    <i>{{ gettext('of') }}</i>
    <strong>1000</strong>
    <span>{{ scope.entry_count.title }}</span>
    {% if scope.entry_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.entry_count[scope.value_lookup_previous]|int >
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.entry_count[scope.value_lookup_previous]|int <
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.entry_count[scope.value_lookup_previous] }} in {{ ODI.previous_year }}
    </small>
    {% endif %}
  </div>
</div>
