<div id="places_in_index" class="stat">
    <a href="{{ SITEURL }}/place/" class="burst silent-link">
        <strong>{{ scope.place_count[scope.value_lookup] }}</strong>
    </a>
    <span class="uppercase">{{ gettext('Places in the Index') }}</span>
    {% if scope.place_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.place_count[scope.value_lookup_previous]|int >
        scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.place_count[scope.value_lookup_previous]|int <
        scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.place_count[scope.value_lookup_previous] }} in {{ scope.odi.previous_year }}
    </small>
    {% endif %}
</div>
<div class="explain">
  <span>
    {{ gettext('Here you can see the open data sccores for the currently selected dataset(s), from <i style="background-color: #f00;">0</i> to <i style="background-color: rgb(122, 184, 0);">100</i>.') }}
  </span>
</div>