{% set summary = datastore.summary.dict %}
{% set place_count = summary[0] %}
{% set entry_count = summary[1] %}
{% set open_count = summary[2] %}
{% set open_percent = summary[3] %}


{% set scope_year = page.year %}


{% if scope_year %}
    {% if scope_year == ODI.current_year %}
    {% set value_lookup = 'value' %}
    {% else %}
    {% set value_lookup = '%s%s'|format('value_', scope_year) %}
    {% endif %}
{% else %}
    {% set value_lookup = 'value' %}
{% endif %}


{% set data_glance_class = "row" %}
{% set data_point_class = "col-md-3" %}


<div class="data-glance {{ data_glance_class }}">
    <div class="data-point {{ data_point_class }}">
        <span class="data-point-key">{{ place_count.title }}</span> <span class="data-point-value">{{ place_count[value_lookup] }}</span>
    </div>
    <div class="data-point {{ data_point_class }}">
        <span class="data-point-key">{{ entry_count.title }}</span> <span class="data-point-value">{{ entry_count[value_lookup] }}</span>
    </div>
    <div class="data-point {{ data_point_class }}">
        <span class="data-point-key">{{ open_count.title }}</span> <span class="data-point-value">{{ open_count[value_lookup] }}</span>
    </div>
    <div class="data-point {{ data_point_class }}">
        <span class="data-point-key">{{ open_percent.title }}</span> <span class="data-point-value">{{ open_percent[value_lookup] }}%</span>
    </div>
</div>
