<tr>
    <th class="data-table-column-heading">
        <div>{% if page.layout == "place" %}{{ gettext('Dataset') }}{% else %}{{ gettext('Place') }}{% endif %}</div>
    </th>
    <th class="data-table-column-heading">
        <div>{{ gettext('Score') }}</div>
    </th>
    <th class="data-table-column-heading">
        <div>{{ gettext('Breakdown') }}</div>
    </th>
    <th class="data-table-column-heading">
        <div>{{ gettext('Location (URL)') }}</div>
    </th>
    <th class="data-table-column-heading">
        <div>{{ gettext('Information') }}</div>
    </th>
</tr>
