<div id="home-stats-items" class="row">
  <div class="col-md-3">
    <span>{{ scope.place_count.title }}:</span>
    <strong>{{ scope.place_count[scope.value_lookup] }}</strong>
  </div>
  <div class="col-md-3">
    <span>{{ scope.entry_count.title }}:</span>
    <strong>{{ scope.entry_count[scope.value_lookup] }}</strong>
  </div>
  <div class="col-md-3">
    <span>{{ scope.open_count.title }}:</span>
    <strong>{{ scope.open_count[scope.value_lookup] }}</strong>
  </div>
  <div class="col-md-3">
    <span>{{ scope.open_percent.title }}:</span>
    <strong>{{ scope.open_percent[scope.value_lookup] }}%</strong>
  </div>
</div>
