<div class="data-glance row">
    <div class="data-point col-md-3">
        <span class="data-point-key">{{ scope.place_count.title }}</span> <span class="data-point-value">{{ scope.place_count[scope.value_lookup] }}</span>
    </div>
    <div class="data-point col-md-3">
        <span class="data-point-key">{{ scope.entry_count.title }}</span> <span class="data-point-value">{{ scope.entry_count[scope.value_lookup] }}</span>
    </div>
    <div class="data-point col-md-3">
        <span class="data-point-key">{{ scope.open_count.title }}</span> <span class="data-point-value">{{ scope.open_count[scope.value_lookup] }}</span>
    </div>
    <div class="data-point col-md-3">
        <span class="data-point-key">{{ scope.open_percent.title }}</span> <span class="data-point-value">{{ scope.open_percent[scope.value_lookup] }}%</span>
    </div>
</div>
