<div id="summary-stats" class="row">
  <div class="stat col-md-3">
    <strong>{{ scope.open_percent[scope.value_lookup] }}%</strong>
    <span class="percent-open-context" data-toggle="popover" title="{{ gettext('What does this mean?')|e }}" data-content="{{ gettext('This is the percentage of all the dataset entries that are open as per the Open Definition. We get one dataset entry for each dataset and place (e.g. Transport Timetables for the United Kingdom is one dataset entry). For each entry we check whether the dataset is fully open as per the Open Definition, and then divide by the total number of entries to get a percentage. <a href=\"faq/#open-data\">Find out more about Open Data</a>')|e|safe }}">{{ scope.open_percent.title }} <i class="fa fa-question-circle"></i></span>
    {% if scope.open_percent[scope.value_lookup_previous] %}
    <small>
        {% if scope.open_percent[scope.value_lookup_previous]|int >
           scope.open_percent[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.open_percent[scope.value_lookup_previous]|int <
           scope.open_percent[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.open_percent[scope.value_lookup_previous] }}% in {{ scope.odi.previous_year }}
    </small>
    {% endif %}
  </div>
  <div class="stat col-md-3">
    <strong>{{ scope.place_count[scope.value_lookup] }}</strong>
    <span>{{ scope.place_count.title }}</span>
    {% if scope.place_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.place_count[scope.value_lookup_previous]|int >
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.place_count[scope.value_lookup_previous]|int <
           scope.place_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.place_count[scope.value_lookup_previous] }} in {{ scope.odi.previous_year }}
    </small>
    {% endif %}
  </div>
  <div class="stat col-md-3">
    <strong>{{ scope.entry_count[scope.value_lookup] }}</strong>
    <span>{{ scope.entry_count.title }}</span>
    {% if scope.entry_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.entry_count[scope.value_lookup_previous]|int >
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.entry_count[scope.value_lookup_previous]|int <
           scope.entry_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.entry_count[scope.value_lookup_previous] }} in {{ scope.odi.previous_year }}
    </small>
    {% endif %}
  </div>
  <div class="stat col-md-3">
    <strong>{{ scope.open_count[scope.value_lookup] }}</strong>
    <span>{{ scope.open_count.title }}</span>
    {% if scope.open_count[scope.value_lookup_previous] %}
    <small>
        {% if scope.open_count[scope.value_lookup_previous]|int >
           scope.open_count[scope.value_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.open_count[scope.value_lookup_previous]|int <
           scope.open_count[scope.value_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from {{ scope.open_count[scope.value_lookup_previous] }} in {{ scope.odi.previous_year }}
    </small>
    {% endif %}
  </div>
</div>
