{% from 'macros.html' import popover_comparison_title,
popover_comparison_content, history, share %}

{% set fragment = 'place' %}

<div class="row">
  <div class="col-md-4">
    {% include 'dataviews/table_tools.html' %}
  </div>
  <div class="col-md-4">
    {{ history(scope, fragment) }}
  </div>
  <div class="col-md-4">
    {{ share(scope, fragment) }}
  </div>
</div>

<hr>

<div class="table-responsive">
  <table id="places_overview_table" class="table data-table table-header-stuck">
    <col style="width:6%">
    <col style="width:13%">
    {% for dataset in scope.datasets %}
      <col style="width:7.5%">
    {% endfor %}
    <col style="width:6%">
    <thead>
      <tr>
        <th title="{{ gettext('Sort by Rank') }}">{{ gettext('Rank') }}</th>
        <th title="{{ gettext('Sort by A-Z') }}">{{ gettext('Place') }}</th>
        {% for dataset in scope.datasets %}
          <th>
              {{ dataset.title }}
          </th>
        {% endfor %}
        <th title="{{ gettext('Sort by Score') }}">{{ gettext('Score') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for place in scope.places %}
        <tr data-rank="{{ place[scope.rank_lookup] or scope.odina }}" data-score="{{ place[scope.score_lookup] or scope.odina }}" data-place="{{ place.slug }}">
          <td class="rank" data-rank="{{ place[scope.rank_lookup] }}">
            {{ place[scope.rank_lookup] }}
          </td>
          <td>
            <a href="{{ SITEURL }}/place/{{ place.slug }}/" title="{{ place.name }}">
              {{ place.name|truncate(20) }}
            </a>
          </td>
          {% for dataset in scope.datasets %}
            <td>
              {% set entry = scope.entries|where('place', place.id)|where('dataset', dataset.id)|where('year', page.year)|first %}
              <ul class="availability availability-comparative" data-toggle="popover" title="{{ popover_comparison_title(dataset, place)|e|safe }}" data-content="{{ popover_comparison_content(scope, entry, place, dataset, scope.questions)|e|safe }}">
              {% for question in scope.questions if question.score %}
                {% if entry %}
                  {% set state = entry[question.id] %}
                {% else %}
                  {% set state = '' %}
                {% endif %}
                <li class="{% if state == 'Y' %}yes{% elif state == 'N' %}no{% elif state == '?' %}maybe{% else %}{{ state }}{% endif %}" data-content="{% if state %}{{ state }}{% else %}{{ gettext('No data') }}{% endif %}">&nbsp;</li>
              {% endfor %}
              </ul>
            </td>
          {% endfor %}
          <td class="score" data-score="{{ place[scope.score_lookup] or scope.odina }}">
            <span>{{ place[scope.score_lookup] or scope.odina }}%</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
