<section class="data-tools">
    <h4>{{ gettext('Tools') }}</h4>
    <form role="form" class="data-table-tools">
        <span>{{ gettext('Sort by') }}</span>
        <div class="radio-inline">
        <label>
            <input type="radio" class="sort-table" name="sort-table" value="score" checked/>
            {{ gettext('Rank/Score') }}
        </label>
        </div>
        <div class="radio-inline">
        <label>
            <input type="radio" class="sort-table" name="sort-table" value="yes_count" />
            {{ gettext('# Yes') }}
        </label>
        </div>
        <div class="radio-inline">
        <label>
            <input type="radio" class="sort-table" name="sort-table" value="alpha" />
            {{ gettext('A-Z') }}
        </label>
        </div>
        <div class="form-group">
            <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a place" />
        </div>
    </form>
</section>
