{% from 'macros.html' import popover_comparison_title,
popover_comparison_content %}

<div class="row">
  <div class="col-md-6">
    {% include 'dataviews/table_tools.html' %}
  </div>
  <div class="col-md-6">
    {% include 'dataviews/table_key.html' %}
  </div>
</div>

<hr>

<table class="table table-striped data-table">
  <col style="width:3.5%">
  <col style="width:13%">
  <col style="width:3.5%">
  {% for dataset in scope.datasets %}
    <col style="width:8%">
  {% endfor %}
  <thead>
    <tr>
      <th>{{ gettext('Rank') }}</th>
      <th>{{ gettext('Place') }}</th>
      <th>{{ gettext('Score') }}</th>
      {% for dataset in scope.datasets %}
        <th>
          <a href="{{ SITEURL }}/datasets/{{ dataset.id }}/" title="{{ dataset.title }}">
            {{ dataset.title }}
          </a>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for place in scope.places %}
      <tr data-rank="{{ place[scope.rank_lookup] or ODI.na }}" data-score="{{ place[scope.score_lookup] or ODI.na }}" data-place="{{ place.slug }}">
        <td class="rank" data-rank="{{ place[scope.rank_lookup] }}">
          {{ place[scope.rank_lookup] }}
        </td>
        <td>
          <a href="{{ SITEURL }}/places/{{ place.id }}/" title="{{ place.name }}">
            {{ place.name }}
          </a>
        </td>
        <td class="score" data-score="{{ place[scope.score_lookup] or ODI.na }}">
          {{ place[scope.score_lookup] or ODI.na }}
        </td>
        {% for dataset in scope.datasets %}
          <td>
            {% set entry = scope.entries|where('place', place.id)|where('dataset', dataset.id)|where('year', page.year)|first %}
            <ul class="availability availability-comparative" data-toggle="popover" title="{{ popover_comparison_title(dataset, place)|e|safe }}" data-content="{{ popover_comparison_content(entry, place, dataset, scope.questions)|e|safe }}">
            {% for question in scope.questions if question.score %}
              {% if entry %}
                {% set state = entry[question.id] %}
              {% else %}
                {% set state = '' %}
              {% endif %}
              <li class="{% if state == 'Y' %}yes{% elif state == 'N' %}no{% elif state == '?' %}maybe{% else %}{{ state }}{% endif %}" data-content="{% if state %}{{ state }}{% else %}{{ gettext('No data') }}{% endif %}">&nbsp;</li>
            {% endfor %}
            </ul>
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
