{% from 'macros.html' import popover_comparison_title,
popover_comparison_content, history, share %}

{% set fragment = 'place' %}

<div class="row">
  <div class="col-md-4">
    {% include 'dataviews/table_tools.html' %}
  </div>
  <div class="col-md-4">
    {{ history(scope, fragment) }}
  </div>
  <div class="col-md-4">
    {{ share(scope, fragment) }}
  </div>
</div>

<hr>

<div class="table-responsive">
  <table id="places_overview_table" class="table data-table sexyTable">
    <thead>
      <tr>
        <th class="sort_rank" title="{{ gettext('Sort by Rank') }}">{{ gettext('Rank') }}</th>
        <th class="sort_place" title="{{ gettext('Sort by A-Z') }}">{{ gettext('Place') }}</th>
        {% for dataset in scope.datasets %}
          {% if dataset[scope.score_lookup]|int %}
            <th>
              <div><span class="dataset-title-context" data-toggle="popover" title="{{ dataset.title }}" data-content="{{ dataset.description|markdown|e|safe }}">{{ dataset.title }}</span></div>
            </th>
          {% endif %}
        {% endfor %}
        <th title="{{ gettext('Sort by Score') }}">{{ gettext('Score') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for place in scope.places %}
        <tr data-rank="{{ place[scope.rank_lookup] or scope.odi.na }}" data-score="{{ place[scope.score_lookup] or scope.odi.na }}" data-place="{{ place.slug }}">
          <td class="rank" data-rank="{{ place[scope.rank_lookup] }}">
            <div>{{ place[scope.rank_lookup] }}</div>
          </td>
          <td>
            <a href="{{ SITEURL }}/place/{{ place.slug }}/" title="{{ place.name }}">
              {{ place.name|truncate(20) }}
            </a>
          </td>
          {% for dataset in scope.datasets %}
            {% if dataset[scope.score_lookup]|int %}
              <td>
                {% set entry = scope.entries|search('table_places_entries', dataset=dataset.id, place=place.id, year=page.year)|first %}
                <ul class="availability availability-comparative" data-toggle="popover" title="{{ popover_comparison_title(dataset, place)|e|safe }}" data-content="{{ popover_comparison_content(scope, entry, place, dataset, scope.questions)|e|safe }}">
                {% for question in scope.questions if question.score %}
                  {% if entry %}
                    {% set state = entry[question.id] %}
                  {% else %}
                    {% set state = '' %}
                  {% endif %}
                  <li class="{% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% else %}{{ state }}{% endif %}" data-content="{% if state %}{{ state }}{% else %}{{ gettext('No data') }}{% endif %}">&nbsp;</li>
                {% endfor %}
                </ul>
              </td>
            {% endif %}
          {% endfor %}
          <td class="score" data-score="{{ place[scope.score_lookup] or scope.odi.na }}">
            <span>{{ place[scope.score_lookup] or scope.odi.na }}%</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
