---

layout: default
key: place
summary: The Open Data Index ranks governments in terms of the openness of their data. An initiative of Open Knowledge, the leaders in open data.

---

<p>
    What's up in {{ page.title }}?
</p>

{% if content %}
{{ content }}
{% endif %}

{% include partials/dataviews/slice_table_place.html place=page.place year=page.year %}

<h4>See this data over time</h4>
<ul>
    {% for year in site.odi.years %}

    {% if year == site.odi.current_year %}
    {% assign route = site.baseurl | append: page.url %}
    {% assign anchor = "Current" %}
    {% else %}
    {% assign route = site.baseurl | append: page.place | append: "/" | append: year | append: "/" %}
    {% assign anchor = year %}
    {% endif %}

    <li>{% include partials/historical_link.html route=route anchor=anchor %}</li>
    {% endfor %}
</ul>
