<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_parent" />
        <!--[if lt IE 9]>
        <script src="http://index.okfn.org/static/vendor/html5shiv.min.js"></script>
        <![endif]-->

<link rel="stylesheet" type="text/css" href="http://index.okfn.org/static/css/map.css" />
        <script>
            var siteUrl = "http://index.okfn.org",
                currentYear = "2015",
                previousYear = "2014",
                years = ["2015", "2014", "2013"],
                sitename = "Open Data Index",
                sponsor = "Open Knowledge";
        </script>
    </head>
    <body>
<div class="odi-vis odi-vis-choropleth">
    <div class="odi-vis-view">
        <div class="odi-vis-display">
            <div id="map"></div>
            <div class="odi-vis-title"></div>
        </div>
        <div class="odi-vis-meta">
            <div class="odi-vis-meta-left">
                <div class="odi-vis-icon">
                    <a target="_parent" href="https://okfn.org/" title="Go to the Open Knowledge website">
                        <img src="http://index.okfn.org/static/images/logo.png" />
                    </a>
                </div>
                <a class="odi-vis-name" target="_parent" href="https://okfn.org/" title="Go to the Open Knowledge website">Open Knowledge</a>
            </div>
            <div class="odi-vis-meta-right">

                <div class="odi-vis-nav">
                    <a class="odi-vis-nav-zoom-in" href="#" title="Zoom in">+</a>
                    <a class="odi-vis-nav-zoom-out" href="#" title="Zoom out">-</a>
                    <a class="odi-vis-nav-zoom-min fa fa-share-alt" href="#" title="Zoom min"></a>
                </div>

                <div class="odi-vis-tools">
                    <i class="icon icon-filter" title="Filter the vis data"></i>
                    <select class="odi-filter-year"></select>
                    <select class="odi-filter-dataset">
                        <option value="all">All Datasets</option>
                    </select>
                </div>

                <div class="odi-vis-legend odi-vis-show-legend-full" title="How to read this visualisation">
                    <ul>
                        <li data-score="0">&nbsp;</li>
                        <li data-score="30">&nbsp;</li>
                    </ul>
                    <ul>
                        <li data-score="60">&nbsp;</li>
                        <li data-score="100">&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="odi-vis-legend-full">
                <div class="odi-vis-info-title">How to read the map<span class="odi-vis-legend-full-close"><i class="fa fa-close"></i></span></div>
                <div class="odi-vis-info-text">
                <span>
                    Place colouring represents the open data score for the currently selected dataset(s), from <i data-score="0">0</i> to <i data-score="100">100</i>.
                </span>
                </div>
            </div>
        </div>
    </div>
    <div class="odi-vis-info"></div>
    <div class="odi-vis-place"></div>
</div>

<!--js templates-->
<script type="text/template" class="info-box">
    <div class="odi-vis-info-title">
        About and credits
        <span class="odi-vis-info-close"><i class="fa fa-close"></i></span>
    </div>
    <div class="odi-vis-info-text">
        <p>
            The Open Data Index is an initiative lead by Open Knowledge in conjunction with the global open data community.
        </p>
    </div>
    <div class="odi-vis-info-section">
        <div class="odi-vis-info-subtitle">Share</div>
        <p>
            Share this visualisation with others on your preferred social network.
        </p>
        <div class="odi-vis-share"
             title="Share this visualisation with others">
            <a target="_blank" href="http://twitter.com/share?url=http://index.okfn.org&text=Check out this data from the Global Open Data Index" title="Share this visualisation on Twitter"><i class="fa fa-twitter-square"></i></a>&nbsp;<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=http://index.okfn.org" title="Share this visualisation on Facebook"><i class="fa fa-facebook-square"></i></a>&nbsp;<a target="_blank" href="https://plus.google.com/share?url=http://index.okfn.org" title="Share this visualisation on Google+"><i class="fa fa-google-plus-square"></i></a>&nbsp;
        </div>
    </div>
    <div class="odi-vis-info-section">
        <div class="odi-vis-info-subtitle">Embed</div>
        <p>
            Use the following code to embed this visualisation into your own website.
        </p>
        <div>
            <xmp contenteditable="true"><iframe width="100%" height="300px" src="http://index.okfn.org/vis/map/embed<%= state_params %>" frameBorder="0"></iframe></xmp>
        </div>
    </div>
</script>

<script type="text/template" class="place-box">
    <div class="odi-vis-place-title"><%= title %><span class="odi-vis-place-close"><i class="fa fa-close"></i></span></div>
    <div class="odi-vis-place-text">
        <p>
            <%= name %> is ranked at <strong>#<%= rank %></strong> in the <%= year %> Index with a score of <strong><%= score %>&#37;</strong><% if (previous_score) { %>, (<%= previous_score %>&#37; the previous year)<% } %>.
        </p>
        <a class="odi-vis-place-action" href="http://index.okfn.org/place/<%= slug %>/" title="More information about <%= name %> in the <%= year %> Open Data Index">Find out more</a>
    </div>
</script>

<script type="text/template" class="place-tooltip">
    <span><%= title %>: <% if (rank) { %><span>#<%= rank %></span><% } %> </span><span><%= score %>%</span>
</script>

<script type="text/template" class="year-options">
    <option value="<%= year %>" <%= selected %>><%= year %></option>
</script>

<script type="text/template" class="dataset-options">
    <option value="<%= dataset_id %>" <%= selected %>><%= dataset %></option>
</script>

<script type="text/template" class="title-box">
    <div class="title-box-text"><span class="title-box-text-name"><%= sitename %></span><br /><%= title %></div>
</script>
<script data-main="http://index.okfn.org/static/scripts/map" src="http://index.okfn.org/static/scripts/require.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33874954-22', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>