{#

_scope.html exposes the `scope` variable - a dict with common stuff we need throughout the templates. It is used like this:

{% from '_scope.html' import scope with context %}

#}

{% set scope = {
    'siteurl': SITEURL,
    'odi': ODI,
    'page': page,
    'metadescription': ODI.metadescription,
    'metakeywords': ODI.metakeywords
} %}

{# helpers to lookup scores, ranks and values based on current page #}
{% if (page.year == scope.odi.current_year) or not page.year %}
    {% do scope.update({
        'rank_lookup': 'rank',
        'score_lookup': 'score',
        'value_lookup': 'value'
    }) %}
{% else %}
    {% do scope.update({
        'rank_lookup': '%s%s'|format('rank_', page.year),
        'score_lookup': '%s%s'|format('score_', page.year),
        'value_lookup': '%s%s'|format('value_', page.year)
    }) %}
{% endif %}
{% if (page.year != scope.odi.years[-1]) %}
    {% set year = page.year or scope.odi.current_year %}
    {% set previous_year = ((year|int)-1)|string %}
    {% do scope.update({
        'previous_year': previous_year,
        'rank_lookup_previous': '%s%s'|format('rank_', previous_year),
        'score_lookup_previous': '%s%s'|format('score_', previous_year),
        'value_lookup_previous': '%s%s'|format('value_', previous_year)
    }) %}
{% else %}
    {% do scope.update({
        'previous_year': '',
        'rank_lookup_previous': '',
        'score_lookup_previous': '',
        'value_lookup_previous': ''
    }) %}
{% endif %}

{% if page.fast %}

  {# optimized version #}
  {% set dataset = datastore.datasets.dict|search('scope_fast_datasets', id=page.dataset)|first_or_default(None) %}
  {% set place = datastore.places.dict|search('scope_fast_places', id=page.place)|first_or_default(None) %}
  {% set entries = datastore.entries.dict|search('scope_fast_entries', dataset=page.dataset, place=page.place) %}
  {% set entry = entries|where('year', page.year)|first_or_default(None) %}
  {% set entry_previous = entries|where('year', (page.year|int - 1)|string)|first_or_default(None) %}
  {% do scope.update({
      'dataset': dataset,
      'place': place,
      'entry': entry,
      'entry_previous': entry_previous,
      'questions': datastore.questions.dict,
  }) %}

{% else %}

  {# setup our core datasets #}
  {% do scope.update({
      'summary': datastore.summary.dict,
      'entries': datastore.entries.dict|natsort(attribute='score', reverse=True),
      'datasets': datastore.datasets.dict|where(scope.score_lookup, None, 'is_not'),
      'questions': datastore.questions.dict,
      'places': datastore.places.dict|where(scope.score_lookup, None, 'is_not')|natsort(attribute=scope.score_lookup, reverse=True),
      'place_count': datastore.summary.dict[0],
      'entry_count': datastore.summary.dict[1],
      'open_count': datastore.summary.dict[2],
      'open_percent': datastore.summary.dict[3]
  }) %}

  {# resolve place and dataset args to full objects, if page has them #}
  {% if page.place %}
      {% do scope.update({
          'place': scope.places|where('id', page.place)|first_or_default(None),
          'entries': scope.entries|where('place', page.place)
      }) %}
  {% endif %}

  {% if page.dataset %}
      {% do scope.update({
          'dataset': scope.datasets|where('id', page.dataset)|first_or_default(None),
          'entries': scope.entries|where('dataset', page.dataset)
      }) %}
  {% endif %}

  {% if page.place and page.dataset and page.year %}
      {% do scope.update({
          'entry': scope.entries|where('year', page.year)|first_or_default(None)
      }) %}
  {% endif %}

{% endif %}


{# helpers for text when comparing two scores or ranks #}
{% do scope.update({
    'lower': gettext('Down'),
    'higher': gettext('Up'),
    'no_change': gettext('No change')
})%}

{# pass config into the map vis #}
{% if page.year %}
    {% set filter_year = page.year %}
{% else %}
    {% set filter_year = scope.odi.current_year %}
{% endif %}

{% if page.dataset %}
    {% set filter_dataset = page.dataset %}
{% else %}
    {% set filter_dataset = 'all' %}
{% endif %}

{% if page.place %}
    {% set map_place = page.place %}
{% else %}
    {% set map_place = '' %}
{% endif %}


{% do scope.update({
    'embed_width': '100%',
    'embed_height': '300px',
    'filter_year': filter_year,
    'filter_dataset': filter_dataset,
    'panel_tools': 'true',
    'panel_share': 'true',
    'map_place': map_place
}) %}

{# set the meta data for the page #}
{% if scope.place %}
    {% do scope.update({
        'metadescription': 'The state of government open data in %(place)s'|format(place=scope.place.name),
        'metakeywords': '%(place)s'|format(place=scope.place.name)
    }) %}
{% endif %}

{% if scope.dataset %}
    {% do scope.update({
        'metadescription': 'The state of government open data for %(dataset)s'|format(dataset=scope.dataset.title),
        'metakeywords': '%(dataset)s'|format(dataset=scope.dataset.title)
    }) %}
{% endif %}

{% if scope.place and scope.dataset and page.year %}
    {% do scope.update({
        'metadescription': 'The state of government open data in %(place)s for %(dataset)s in %(year)s'|format(place=scope.place.name, dataset=scope.dataset.title, year=page.year),
        'metakeywords': '%(place)s, %(dataset)s, %(year)s'|format(place=scope.place.name, dataset=scope.dataset.title, year=page.year)
    }) %}
{% endif %}

{% if page.type == 'places' %}
    {% do scope.update({
        'metadescription': 'The state of government open data across the globe in %(year)s'|format(year=page.year),
    }) %}
{% endif %}

{% if page.type == 'datasets' %}
    {% do scope.update({
        'metadescription': 'The state of government open data across the globe in %(year)s, by dataset'|format(year=page.year),
    }) %}
{% endif %}

{# general stuff #}
{% do scope.update({
    'social_share_text': gettext('Check out this data from the Global Open Data Index')
})%}
