{#

_scope.html exposes the `scope` variable - a dict with common stuff we need throughout the templates. It is used like this:

{% from '_scope.html' import scope with context %}

#}


{% set scope = {} %}

{% do scope.update({
    'lower': gettext('Down'),
    'higher': gettext('Up'),
    'no_change': gettext('No change')
})%}

{% if (page.year == ODI.current_year) or not page.year %}
    {% do scope.update({
        'rank_lookup': 'rank',
        'score_lookup': 'score',
        'value_lookup': 'value'
    }) %}
    {% if page.year %}
        {% do scope.update({
            'rank_lookup_previous': '%s%s'|format('rank_', ODI.previous_year),
            'score_lookup_previous': '%s%s'|format('score_', ODI.previous_year),
            'value_lookup_previous': '%s%s'|format('value_', ODI.previous_year)
        }) %}
    {% endif %}
{% else %}
    {% do scope.update({
        'rank_lookup': '%s%s'|format('rank_', page.year),
        'score_lookup': '%s%s'|format('score_', page.year),
        'value_lookup': '%s%s'|format('value_', page.year)
    }) %}
    {% do scope.update({
        'rank_lookup_previous': '',
        'score_lookup_previous': '',
        'value_lookup_previous': ''
    }) %}
{% endif %}

{% do scope.update({
    'summary': datastore.summary.dict,
    'entries': datastore.entries.dict,
    'datasets': datastore.datasets.dict|where(scope.score_lookup, None, 'is_not')|natsort(attribute=scope.score_lookup, reverse=True),
    'questions': datastore.questions.dict,
    'places': datastore.places.dict|where(scope.score_lookup, None, 'is_not')|natsort(attribute=scope.score_lookup, reverse=True),
    'place_count': datastore.summary.dict[0],
    'entry_count': datastore.summary.dict[1],
    'open_count': datastore.summary.dict[2],
    'open_percent': datastore.summary.dict[3]
}) %}

{% do scope.update({
    'embed_width': '100%',
    'embed_height': '508px',
}) %}
