{#

_scope.html exposes the `scope` variable - a dict with common stuff we need throughout the templates. It is used like this:

{% from '_scope.html' import scope with context %}

#}

{% set scope = {} %}

{# helpers to lookup scores, ranks and values based on current page #}
{% if (page.year == ODI.current_year) or not page.year %}
    {% do scope.update({
        'rank_lookup': 'rank',
        'score_lookup': 'score',
        'value_lookup': 'value'
    }) %}
    {% if page.year %}
        {% do scope.update({
            'rank_lookup_previous': '%s%s'|format('rank_', ODI.previous_year),
            'score_lookup_previous': '%s%s'|format('score_', ODI.previous_year),
            'value_lookup_previous': '%s%s'|format('value_', ODI.previous_year)
        }) %}
    {% endif %}
{% else %}
    {% do scope.update({
        'rank_lookup': '%s%s'|format('rank_', page.year),
        'score_lookup': '%s%s'|format('score_', page.year),
        'value_lookup': '%s%s'|format('value_', page.year)
    }) %}
    {% do scope.update({
        'rank_lookup_previous': '',
        'score_lookup_previous': '',
        'value_lookup_previous': ''
    }) %}
{% endif %}

{# setup our core datasets #}
{% do scope.update({
    'summary': datastore.summary.dict,
    'entries': datastore.entries.dict|natsort(attribute='score', reverse=True),
    'datasets': datastore.datasets.dict|where(scope.score_lookup, None, 'is_not')|natsort(attribute=scope.score_lookup, reverse=True),
    'questions': datastore.questions.dict,
    'places': datastore.places.dict|where(scope.score_lookup, None, 'is_not')|natsort(attribute=scope.score_lookup, reverse=True),
    'place_count': datastore.summary.dict[0],
    'entry_count': datastore.summary.dict[1],
    'open_count': datastore.summary.dict[2],
    'open_percent': datastore.summary.dict[3]
}) %}

{# resolve place and dataset args to full objects, if page has them #}
{% if page.place %}
    {% do scope.update({
        'place': scope.places|where('id', page.place)|first,
        'entries': scope.entries|where('place', page.place)
    }) %}
{% endif %}

{% if page.dataset %}
    {% do scope.update({
        'dataset': scope.datasets|where('id', page.dataset)|first,
        'entries': scope.entries|where('dataset', page.dataset)
    }) %}
{% endif %}

{% if page.place and page.dataset and page.year %}
    {% do scope.update({
        'entry': scope.entries|where('year', page.year)|first,
    }) %}
{% endif %}

{# helpers for text when comparing two scores or ranks #}
{% do scope.update({
    'lower': gettext('Down'),
    'higher': gettext('Up'),
    'no_change': gettext('No change')
})%}

{# pass config into the map vis #}
{% do scope.update({
    'embed_width': '100%',
    'embed_height': '508px',
    'panel_tools': 'true',
    'panel_share': 'true'
}) %}
