{{ page.content }}

<div class="row">
    <div class="col-md-6">
        <div class="attention">
            <h3>{{ gettext('Open Data Index Map') }}</h3>
            <div>
                <i class="fa fa-map-marker"></i>
            </div>
            <p>
                {{ gettext('Explore the Open Data Index on a map.') }}
            </p>
            <a class="btn btn-info" href="{{ SITEURL }}/vis/map/" title="Explore the Open Data Index via a world map">{{ gettext('Go there') }}</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="attention">
            <h3>{{ gettext('Coming soon') }}</h3>
            <div>
                <i class="fa fa-cubes"></i>
            </div>
            <p>
                {{ gettext('Stories using the Open Data Index.') }}
            </p>
            <a class="btn btn-info" href="" title="{{ gettext('Stories using the Open Data Index.') }}" disabled>{{ gettext('Coming soon') }}</a>
        </div>
    </div>
</div>
