<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{% block meta_description %}{{ ODI.description }}{% endblock meta_description %}">
        <title>{{ SITENAME }} - {{ ODI.author.name }}</title>
        <base href="/">
        {% block head_css %}
        <link rel="stylesheet" href="{{ SITEURL }}/static/css/site.css">
        {% endblock head_css %}
        <link rel="icon" href="{{ SITEURL }}/static/images/favicon.ico">
        <script>
            var siteUrl = '{{ SITEURL }}';
        </script>
        {% block head_scripts %}
        <script data-main="{{ SITEURL }}/static/scripts/site" src="{{ SITEURL }}/static/scripts/require.js"></script>
        {% endblock head_scripts %}
    </head>
    <body class="{% block body_classes %}{% endblock body_classes %}">
        {% block okf_ribbon %}
        <div class="absolute-okf-panel">
          <div class="container">
            <div class="okfn-ribbon active">
              <a href="http://okfn.org/" title="{{ gettext('Part of the Open Knowledge Foundation Network') }}">{{ gettext('An Open Knowledge Foundation Site') }}</a>
            </div>
          </div>
        </div>
        {% endblock okf_ribbon %}
        {% block header %}
        <header id="header">
            <div class="container">
              <div id="header-brand"{# class="has-sub-brand"#}>
                <a href="{{ SITEURL }}/" title="{{ SITENAME }} {{ ODI.current_year }} {{ ODI.sponsor.name }}">
                    <img src="{{ SITEURL }}/static/images/logo.png" height="50">
                    {{ SITENAME }}
                    {#<span>{{ gettext('Global') }}</span>#}
                </a>
              </div>
            </div>
        </header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ SITEURL }}/about/" title="{{ gettext('About the Open Data Index project') }}">
                            {{ gettext('about') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ SITEURL }}/methodology/" title="{{ gettext('About the methodology used in creating the Open Data Index') }}">
                            {{ gettext('methodology') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ SITEURL }}/download/" title="{{ gettext('Download Open Data Index data') }}">
                            {{ gettext('download') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ SITEURL }}/contributors/" title="{{ gettext('See all the contributors to the Open Data Index') }}">
                            {{ gettext('contributors') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ SITEURL }}/vis/" title="{{ gettext('See the Open Data Index through a range of visualisations') }}">
                            {{ gettext('visualisations') }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock header %}
        {% block main %}
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        {% block heading %}
                        <header class="page-header">
                            <h1>{% block page_title %}{{ SITENAME }}{% endblock page_title %}</h1>
                        </header>
                        {% endblock heading %}

                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock main %}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-main col-md-9">
                        <div class="footer-meta">
                            {% filter markdown %}
                            {% include "content/footer_meta.md" %}
                            {% endfilter %}
                        </div>
                        <div class="footer-attribution">
                            {% filter markdown %}
                            {% include "content/footer_attribution.md" %}
                            {% endfilter %}
                        </div>
                    </div>
                    <div class="footer-links col-md-3">
                        {% filter markdown %}
                        {% include "content/footer_links.md" %}
                        {% endfilter %}
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
        {% block body_scripts %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ ODI.googleanalytics }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endblock body_scripts %}
    </body>
</html>
