<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="{{ AUTHOR }}">
        <meta name="description" content="{% block meta_description %}{{ ODI.description }}{% endblock meta_description %}">
        <meta name="keywords" content="{% block meta_keywords %}{{ ODI.keywords }}{% endblock meta_keywords %}">
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ SITENAME }} - {{ ODI.author.name }}" />
        <meta property="og:site_name" content="{{ SITENAME }}" />
        <meta property="og:description" content="{% if scope and scope.metadescription %}{{ scope.metadescription }}{% else %}{{ ODI.description }}{% endif %}" />
        <meta property="og:image" content="{{ SITEURL }}/static/images/favicon.ico" />
        <title>{% block meta_title %}{{ gettext('Global') }} {{ SITENAME }} {{ gettext('by') }} {{ ODI.author.name }}{% endblock meta_title %}</title>
        <base href="/">
        <!--[if lt IE 9]>
        <script src="{{ SITEURL }}/static/vendor/html5shiv.min.js"></script>
        <![endif]-->
        {% block head_css %}
        <link rel="stylesheet" href="{{ SITEURL }}/static/css/site.css">
        {% endblock head_css %}
        <link rel="icon" href="{{ SITEURL }}/static/images/favicon.ico">
        <script>
            var siteUrl = '{{ SITEURL }}';
        </script>
        {% block head_scripts %}{% endblock head_scripts %}
    </head>
    <body class="{% block body_classes %}{% endblock body_classes %}">
        {% block header %}
        <header id="header">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ gettext('Toggle navigation') }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ SITEURL }}/">
                    <img src="{{ SITEURL }}/static/images/logo.png" height="44">
                    <span>{{ gettext('Global') }} {{ SITENAME }}</span>
                  </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ SITEURL }}/place/" title="{{ gettext('About the Open Data Index project') }}">
                                {{ gettext('Places') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/dataset/" title="{{ gettext('About the Open Data Index project') }}">
                                {{ gettext('Datasets') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/download/" title="{{ gettext('Download Open Data Index data') }}">
                                {{ gettext('Download') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/insights/" title="{{ gettext('Insights') }}">
                                {{ gettext('Insights') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/about/" title="{{ gettext('Contact information for the %(sitename)s', sitename=SITENAME ) }}">
                                {{ gettext('Contact') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/about/" title="{{ gettext('About the Open Data Index project') }}">
                                {{ gettext('About') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ SITEURL }}/press/" title="{{ gettext('Press information for the %(sitename)s', sitename=SITENAME ) }}">
                                {{ gettext('Press') }}
                            </a>
                        </li>
                    </ul>
                    <p class="navbar-subbrand navbar-text navbar-right">
                      <a href="http://okfn.org/">
                        <img src="http://assets.okfn.org/p/okfn/img/okfn-logo-landscape-black-s.png" alt="" height="28">
                      </a>
                    </p>
                </div>
            </div>
        </nav>
        </header>

        {% endblock header %}
        {% block main %}
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        {% block breadcrumbs %}
                        <ol class="breadcrumb">
                          <li>
                            <a href="{{ SITEURL }}/">{{ gettext('Home') }}</a>
                          </li>
                          {% block breadcrumbs_inner %}
                          {% endblock breadcrumbs_inner %}
                        </ol>
                        {% endblock breadcrumbs %}
                        {% block heading %}
                        <header class="page-header">
                            <h1>{% block page_title %}{{ SITENAME }}{% endblock page_title %}</h1>
                        </header>
                        {% endblock heading %}

                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock main %}
        {% block footer %}
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-main col-md-8">
                        <div class="footer-attribution">
                            <p>
                                <a href="http://opendefinition.org/ossd/" title="{{ gettext('Open Online Software Service') }}">
                                    <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
                                </a>
                                <a href="http://opendefinition.org/okd/" title="{{ gettext('Open Online Software Service') }}">
                                    <img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" />
                                </a>
                                <a href="http://opendefinition.org/okd/" title="{{ gettext('Open Content') }}">
                                    <img src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" alt="" border="" />
                                </a>
                                &ndash;
                                <a href="http://creativecommons.org/licenses/by/3.0/" title="{{ gettext('Content Licensed under a CC Attribution') }}"></a>
                                <a href="http://opendatacommons.org/licenses/pddl/1.0" title="{{ gettext('Data License (Public Domain)') }}">{{ gettext('Data License (Public Domain)') }}</a>
                            </p>
                        </div>
                        <div class="footer-meta">
                            {% filter markdown %}
                            {% include "content/footer_meta.md" %}
                            {% endfilter %}
                            <a class="naked" href="http://okfn.org/" title="{{ gettext('Open Knowledge') }}"><img src="http://assets.okfn.org/p/okfn/img/okfn-logo-landscape-black-s.png" alt="" height="28"></a>
                        </div>
                    </div>
                    <div class="footer-links col-md-2">
                        <li><a href="http://okfn.org/" title="{{ gettext('Open Knowledge') }}">{{ gettext('Open Knowledge') }}</a></li>
                        <li><a href="http://okfn.org/opendata/" title="{{ gettext('What is Open Data?') }}">{{ gettext('What is Open Data?') }}</a></li>
                        <li><a href="http://census.okfn.org/" title="{{ gettext('Run your own Index') }}">{{ gettext('Run your own Index') }}</a></li>
                        <li><a href="{{ ODI.repo }}" title="{{ gettext('The source code for %(site)s', site=SITENAME) }}">{{ gettext('Source Code') }}</a></li>
                    </div>
                    <div class="footer-links col-md-2">
                        <li><a href="{{ SITEURL }}/" title="{{ gettext('%(name)s home', name=SITENAME) }}">{{ gettext('Home') }}</a></li>
                        <li><a href="{{ SITEURL }}/download/" title="{{ gettext('Download data') }}">{{ gettext('Download') }}</a></li>
                        <li><a href="{{ SITEURL }}/methodology/" title="{{ gettext('The methodology behind the %(name)s', name=SITENAME) }}">{{ gettext('Methodology') }}</a></li>
                        <li><a href="{{ SITEURL }}/faq/" title="{{ gettext(' %(name)s FAQ', name=SITENAME) }}">{{ gettext('FAQ') }}</a></li>
                        <li><a href="{{ SITEURL }}/about/" title="{{ gettext('About the %(site)s', site=SITENAME) }}">{{ gettext('About') }}</a></li>
                        <li><a href="{{ SITEURL }}/about/" title="{{ gettext('Contact us') }}">{{ gettext('Contact') }}</a></li>
                        <li><a href="{{ SITEURL }}/press/" title="{{ gettext('Press') }}">{{ gettext('Press') }}</a></li>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock footer %}
        {% block body_scripts %}
        <script data-main="{{ SITEURL }}/static/scripts/site" src="{{ SITEURL }}/static/scripts/require.js"></script>
        {% include '_analytics.html' %}
        {% endblock body_scripts %}
    </body>
</html>
