{% extends 'page.html' %}

{% block breadcrumbs_inner %}
  <li class="active">{{ gettext('Download') }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}
{{ page.content }}
<section class="row">
  <div class="col-md-4">
    <div class="well">
      <h3>{{ gettext('Archive') }}</h3>
      <p>{{ gettext('All data as an archive file.') }}</p>
      <p>
        <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/static/downloads/opendataindex_data_{{ TIMESTAMP }}.tar.gz" title="{{ gettext('The whole Index displayed in an easy-to-read table.') }}">
          {{ gettext('Download all data') }}
        </a>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>{{ gettext('CSV') }}</h3>
      <p>{{ gettext('Data in CSV format.') }}</p>
      <p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
            {{ gettext('Download CSV') }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{ SITEURL }}/api/entries.csv">
                {{ gettext('Entries') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/datasets.csv">
                {{ gettext('Datasets') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/places.csv">
                {{ gettext('Places') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/questions.csv">
                {{ gettext('Questions') }}
              </a>
            </li>
          </ul>
        </div>
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <h3>{{ gettext('JSON') }}</h3>
      <p>{{ gettext('Data in JSON format.') }}</p>
      <p>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
            {{ gettext('Download JSON') }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="{{ SITEURL }}/api/entries.json">
                {{ gettext('Entries') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/datasets.json">
                {{ gettext('Datasets') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/places.json">
                {{ gettext('Places') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/questions.json">
                {{ gettext('Questions') }}
              </a>
            </li>
          </ul>
        </div>
      </p>
    </div>
  </div>
</section>

<h2>{{ gettext('Additional downloads') }}</h2>
<p>{{ gettext('We also have a range of data slices available in both CSV and JSON formats.') }}</p>

<section class="row">
  <div class="col-md-4">
    <h3>{{ gettext('Entries by year') }}</h3>
    <p>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
          {{ gettext('Download') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{{ SITEURL }}/api/entries/2014.csv">
              {{ gettext('2014 - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/entries/2014.json">
              {{ gettext('2014 - JSON') }}
            </a>
          </li>
            <li>
              <a href="{{ SITEURL }}/api/entries/2013.csv">
                {{ gettext('2013 - CSV') }}
              </a>
            </li>
            <li>
              <a href="{{ SITEURL }}/api/entries/2013.json">
                {{ gettext('2013 - JSON') }}
              </a>
            </li>
        </ul>
      </div>
    </p>
  </div>
  <div class="col-md-4">
    <h3>{{ gettext('Datasets by category') }}</h3>
    <p>
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
          {{ gettext('Download') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="{{ SITEURL }}/api/datasets/civic-information.csv">
              {{ gettext('Civic Information - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/civic-information.json">
              {{ gettext('Civic Information - JSON') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/environment.csv">
              {{ gettext('Environment - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/environment.json">
              {{ gettext('Environment - JSON') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/finance.csv">
              {{ gettext('Finance - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/finance.json">
              {{ gettext('Finance - JSON') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/geodata.csv">
              {{ gettext('Geodata - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/geodata.json">
              {{ gettext('Geodata - JSON') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/transport.csv">
              {{ gettext('Transport - CSV') }}
            </a>
          </li>
          <li>
            <a href="{{ SITEURL }}/api/datasets/transport.json">
              {{ gettext('Transport - JSON') }}
            </a>
          </li>
        </ul>
      </div>
    </p>
  </div>
</section>
{% endblock content %}
