<!DOCTYPE html>
<html lang="en">
    <head>
        <base target="_parent" />
        {% block head_css %}{% endblock head_css %}
        <script>
            var siteUrl = {{ SITEURL|tojson|safe }},
                currentYear = {{ scope.odi.current_year|tojson|safe }},
                previousYear = {{ scope.odi.previous_year|tojson|safe }},
                years = {{ scope.odi.years|tojson|safe }},
                sitename = {{ SITENAME|tojson|safe }},
                sponsor = {{ scope.odi.sponsor.name|tojson|safe }};
        </script>
        {% block head_scripts %}{% endblock head_scripts %}
    </head>
    <body>
        {% block content %}{% endblock content %}
        {% block body_scripts %}
        {% include '_analytics.html' %}
        {% endblock body_scripts %}
    </body>
</html>
