{% extends 'page.html' %}

{% block content %}
{{ page.content }}
<div class="row">
    <div class="col-md-4">
        <div class="well">
            <h3>{{ gettext('Choropleth Map') }}</h3>
            <p>{{ gettext('Explore the Open Data Index via a coded world map.') }}</p>
            <p>
              <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/vis/map/" title="{{ gettext('The whole Index displayed on a map.') }}">
                <i class="fa fa-map-marker fa-fw"></i>
                {{ gettext('View now') }}
              </a>
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>{{ gettext('Table overview') }}</h3>
            <p>{{ gettext('The whole Index displayed in an easy-to-read table.') }}</p>
            <p>
              <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/places/" title="{{ gettext('The whole Index displayed in an easy-to-read table.') }}">
                <i class="fa fa-table fa-fw"></i>
                {{ gettext('View now') }}
              </a>
            </p>
        </div>
    </div>
</div>
{% endblock content %}
