{% extends 'page.html' %}

{% block main %}
{% from '_scope.html' import scope with context %}

<div id="home-stats">
  <div class="container">
    <h1>{{ gettext('Open government data around the world, right now.') }}</h1>
    {% include 'dataviews/summary.html' %}
  </div>
</div>

<section id="home-visualisation">
  {% include 'dataviews/embed_map.html' %}
</section>

<div class="container">
  <div class="jumbotron">
    <h2>{{ gettext('About the Open Data Index') }}</h2>
    {{ page.content }}
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="well">
        <h3>{{ gettext('Table view') }}</h3>
        <p>{{ gettext('The whole Index displayed in an easy-to-read table.') }}</p>
        <p>
          <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/places/" title="{{ gettext('The whole Index displayed in an easy-to-read table.') }}">
            <i class="fa fa-table fa-fw"></i>
            {{ gettext('View data in table') }}
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h3>{{ gettext('Downloads & API') }}</h3>
        <p>{{ gettext('Download the raw data directly or as CSV/JSON via API.') }}</p>
        <p>
          <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/download/" title="{{ gettext('Download the raw Index data directly or use it via a CSV/JSON API.') }}">
            <i class="fa fa-download fa-fw"></i>
            {{ gettext('Download data') }}
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well">
        <h3>{{ gettext('Methodology') }}</h3>
        <p>{{ gettext('Read about the methodology behind the Index here.') }}</p>
        <p>
          <a class="btn btn-primary btn-lg" href="{{ SITEURL }}/methodology/" title="{{ gettext('Read about the methodology behind the Index here.') }}">
              <i class="fa fa-book fa-fw"></i>
            {{ gettext('Read the methodology') }}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock main %}
