{% extends 'page.html' %}

{% block main %}
{% from '_scope.html' import scope with context %}

<div id="home-stats">
  <div class="container">
    <h1>Open government data around the world, right now.</h1>
    {% include 'dataviews/summary.html' %}
  </div>
</div>

<section id="home-visualisation">
  {% include 'dataviews/embed_map.html' %}
</section>

<div class="container">
  <h2>{{ gettext('About the Open Data Index') }}</h2>
  <div class="row">
    <div class="col-md-2 centered"></div>
    <div class="col-md-8 centered">
      {{ page.content }}
    </div>
    <div class="col-md-2 centered"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="attention">
        <h3>{{ gettext('Table view') }}</h3>
        <div>
          <i class="fa fa-table"></i>
        </div>
        <p>
          {{ gettext('The whole Index displayed in an easy-to-read table.') }}
        </p>
        <a class="btn btn-info" href="{{ SITEURL }}/places/" title="{{ gettext('The whole Index displayed in an easy-to-read table.') }}">{{ gettext('Go there') }}</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="attention">
        <h3>{{ gettext('Downloads & API') }}</h3>
        <div>
          <i class="fa fa-cloud-download"></i>
        </div>
        <p>
          {{ gettext('Download the raw Index data directly or use it via a CSV/JSON API.') }}
        </p>
        <a class="btn btn-info" href="{{ SITEURL }}/download/" title="{{ gettext('Download the raw Index data directly or use it via a CSV/JSON API.') }}">{{ gettext('Go there') }}</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="attention">
        <h3>{{ gettext('Methodology') }}</h3>
        <div>
          <i class="fa fa-book"></i>
        </div>
        <p>
          {{ gettext('Read about the methodology behind the Index here.') }}
        </p>
        <a class="btn btn-info" href="{{ SITEURL }}/methodology/" title="{{ gettext('Read about the methodology behind the Index here.') }}">{{ gettext('Go there') }}</a>
      </div>
    </div>
  </div>
</div>

<hr />
{% endblock main %}
