{% extends 'page.html' %}

{% block main %}
{% from '_scope.html' import scope with context %}
{% do scope.update({
  'embed_title': '%s ; %s'|format('All datasets', page.year),
}) %}

<div id="home-about">
  <div class="container">
    <h1>{{ gettext('Tracking the state of government open data.') }}</h1>
    <div class="text-center">{{ page.content }}
      <a class="btn btn-primary-black btn-lg" href="{{ SITEURL }}/place/" title="{{ gettext('Compare countries.') }}">
        {{ gettext('Compare countries') }}
      </a>

      <a class="btn btn-primary-black btn-lg" href="{{ SITEURL }}/insights/" title="{{ gettext('See insights.') }}">
        {{ gettext('See insights') }}
      </a>
    </div>
  </div>
</div>

<section id="home-visualisation" class="container">
  <div class="row map_visualisation">
    <div class="col-md-4 summary-stats">
      {% include 'dataviews/alt_summary.html' %}
    </div>
    <div class="col-md-8 map">{% include 'dataviews/embed_map.html' %}</div>
  </div>
  <div class="row chart_visualisation">
    <div class="col-md-4 chart text-center">
      <img src="/static/images/pie-10.png">
    </div>
    <div class="col-md-8 summary-stats">
      {% include 'dataviews/alt_general_stat.html' %}
    </div>
  </div>
</section>

{% endblock main %}
