{% macro popover_comparison_title(dataset, place) -%}
<strong>{{ dataset.title }}</strong> in <strong>{{ place.name }}</strong>
{%- endmacro %}


{% macro popover_comparison_content(scope, entry, place, dataset, questions) -%}

{% if not entry %}
{{ gettext('There is no data available.') }}.
{% else %}
<ul class="availability-popover">
    {% for question in questions %}
    {% if question.score %}
    {% set state = entry[question.id] %}
    {% if state == 'Y' %}
    {% set no = '' %}
    {% elif state == 'N' %}
    {% set no = 'not' %}
    {% else %}
    {% set no = 'unclear if it\'s ' %}
    {% endif %}
    <li class="{% if state == 'Y' %}yes{% elif state == 'N' %}no{% elif state == '?' %}maybe{% endif %}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;
        {% if question.id == 'exists' %}
        {% if state == 'Y' %}
        {{ gettext('Data exists') }}
        {% else %}
        {{ gettext('Data does not exist') }}
        {% endif %}
        {% elif question.id == 'digital' %}
        {{ gettext('It\'s %(no)s digital', no=no) }}
        {% elif question.id == 'public' %}
        {{ gettext('It\'s %(no)s public', no=no) }}
        {% elif question.id == 'free' %}
        {{ gettext('It\'s %(no)s free', no=no) }}
        {% elif question.id == 'online' %}
        {{ gettext('It\'s %(no)s online', no=no) }}
        {% if no == '' %}
        <a href="{{ entry.url }}" title="{{ gettext('%(dataset)s for %(place)s on the web', dataset=dataset.id, place=place.name) }}">{{ gettext('here') }}</a>
        {% endif %}
        {% elif question.id == 'machinereadable' %}
        {{ gettext('It\'s %(no)s machine readable', no=no) }}
        {% elif question.id == 'bulk' %}
        {{ gettext('It\'s %(no)s available in bulk', no=no) }}
        {% elif question.id == 'openlicense' %}
        {{ gettext('It\'s %(no)s openly licensed', no=no) }}
        {% elif question.id == 'uptodate' %}
        {{ gettext('It\'s %(no)s up to date', no=no) }}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<p>
    {% if entry and entry.details %}
    {{ entry.details|truncate(100)|markdown }}
    {% else %}
    {{ gettext('No additional details') }}
    {% endif %}
</p>
<a class="btn btn-primary" href="{{ scope.siteurl }}/place/{{ place.slug }}/{{ dataset.id }}/">
    {{ gettext('Read more') }} &raquo;
</a>
{% endif %}
{%- endmacro %}

{% macro history(scope, namespace, as_buttons=True, inline=False) -%}
<h4 class="{% if inline %}inline{% endif %}">{{ gettext('See other years') }}</h4>
<div class="{% if as_buttons %}btn-group{% endif %}{% if inline %} inline{% endif %}">
    {% for year in scope.odi.years %}

    {% if year == scope.odi.current_year %}
        {% set route = '%s/'|format(namespace) %}
        {% set anchor = gettext('Current') %}
    {% else %}
        {% set route = '%s/%s/'|format(namespace, year) %}
        {% set anchor = year %}
    {% endif %}

    {% if route == scope.page.url %}
    {% else %}
        <a class="{% if as_buttons %}btn btn-default{% endif %}" href="{{ scope.siteurl }}/{{ route }}" title="{{ anchor }}">{{ anchor }}</a>
    {% endif %}
    {% endfor %}
</div>
{%- endmacro %}


{% macro share(scope, namespace, with_embed=False, with_text=True) -%}
<h4>{{ gettext('Share or embed this page') }}</h4>
<div class="btn-group">
  {% if with_embed %}
  <a href="" class="btn btn-default embed" data-toggle="modal" data-target="#embed-instructions">
    <i class="fa fa-code"></i> {{ gettext('Embed') }}
  </a>
  {% endif %}
  <a href="http://twitter.com/share?url={{ scope.siteurl }}/{{ scope.page.url }}&text={{ scope.social_share_text }}" class="btn btn-default twitter" target="_blank">
    <i class="fa fa-twitter"></i>{% if with_text %} {{ gettext('Twitter') }}{% endif %}
  </a>
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ scope.siteurl }}/{{ scope.page.url }}" class="btn btn-default facebook" target="_blank">
    <i class="fa fa-facebook"></i>{% if with_text %} {{ gettext('Facebook') }}{% endif %}
  </a>
  <a href="https://plus.google.com/share?url={{ scope.siteurl }}/{{ scope.page.url }}" class="btn btn-default google-plus" target="_blank">
    <i class="fa fa-google-plus"></i>{% if with_text %} {{ gettext('Google+') }}{% endif %}
  </a>
</div>
<div class="modal fade" id="embed-instructions" tabindex="-1" role="dialog" aria-labelledby="embedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ gettext('Close') }}</span></button>
        <h4 class="modal-title" id="embedLabel">{{ gettext('Map embed code') }}</h4>
      </div>
      <div class="modal-body">
        <p>
            {{ gettext('Use the following code to embed the map visualisation into your own website.') }}
        </p>
        <xmp contenteditable="true"><iframe width="{{ scope.embed_width }}" height="{{ scope.embed_height }}" src="{{ scope.siteurl }}/vis/map/embed/?embed_width={{ scope.embed_width }}&embed_height={{ scope.embed_height }}&filter_year={{ scope.filter_year }}&filter_dataset={{ scope.filter_dataset }}&panel_tools={{ scope.panel_tools }}&panel_share={{ scope.panel_share }}{% if scope.embed_title %}&embed_title={{ scope.embed_title }}{% endif %}&map_place={{ scope.map_place }}" frameBorder="0"></iframe></xmp>
        <p>
        {{ gettext('If you are a developer, you can read more about the embed options here') }}: <a href="https://github.com/okfn/opendataindex/#choropleth-map" title="{{ gettext('Embed options') }}">{{ gettext('Embed options') }}</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext('Close') }}</button>
      </div>
    </div>
  </div>
</div>
{%- endmacro %}


{% macro popover_slice_title(question, state) -%}
<h4>{% filter markdown %}{{ question }}? {% if state == 'Y' %}{{ gettext('Yes') }}{% elif state == 'N' %}{{ gettext('No') }}{% elif state == '?' %}{{ gettext('Unknown') }}{% endif %}{% endfilter %}</h4>
{%- endmacro %}


{% macro popover_slice_content(description) -%}
{{ description|markdown }}
{%- endmacro %}
