{% macro popover_comparison_title(dataset, place) -%}
<strong>{{ dataset.title }}</strong> in <strong>{{ place.name }}</strong>
{%- endmacro %}


{% macro popover_comparison_content(entry, place, dataset, questions) -%}

{% if not entry %}
{{ gettext('There is no data available.') }}.
{% else %}
<ul>
    {% for question in questions %}
    {% if question.score %}
    {% set state = entry[question.id] %}
    {% if state == 'Y' %}
    {% set no = '' %}
    {% elif state == 'N' %}
    {% set no = 'not' %}
    {% else %}
    {% set no = 'unclear if it\'s ' %}
    {% endif %}
    <li>
        {% if question.id == 'exists' %}
        {% if state == 'Y' %}
        {{ gettext('Data exists') }}
        {% else %}
        {{ gettext('Data does not exist') }}
        {% endif %}
        {% elif question.id == 'digital' %}
        {{ gettext('It\'s %(no)s digital', no=no) }}
        {% elif question.id == 'public' %}
        {{ gettext('It\'s %(no)s public', no=no) }}
        {% elif question.id == 'free' %}
        {{ gettext('It\'s %(no)s free', no=no) }}
        {% elif question.id == 'online' %}
        {{ gettext('It\'s %(no)s online', no=no) }}
        {% if no == '' %}
        <a href="{{ questions['url'] }}" title="{{ gettext('%(dataset)s for %(place)s on the web', dataset=dataset.id, place=place.name) }}">
            {{ gettext('here') }}
        </a>
        {% endif %}
        {% elif question.id == 'machinereadable' %}
        {{ gettext('It\'s %(no)s machine readable', no=no) }}
        {% elif question.id == 'bulk' %}
        {{ gettext('It\'s %(no)s available in bulk', no=no) }}
        {% elif question.id == 'openlicense' %}
        {{ gettext('It\'s %(no)s only licensed', no=no) }}
        {% elif question.id == 'uptodate' %}
        {{ gettext('It\'s %(no)s up to date', no=no) }}
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<p>
    {% if entry and entry.details %}
    {{ entry.details|truncate(100)|markdown }}
    {% else %}
    {{ gettext('No additional details') }}
    {% endif %}
</p>
<a class="btn btn-primary" href="{{ SITEURL }}/place/{{ place.slug }}/{{ dataset.id }}/">
    {{ gettext('Read more') }} &raquo;
</a>
{% endif %}
{%- endmacro %}


{% macro history(page, odi, namespace) -%}
<h4>{{ gettext('See this data over time') }}</h4>
<div class="btn-group">
    {% for year in odi.years %}

    {% if year == odi.current_year %}
        {% set route = '%s/'|format(namespace) %}
        {% set anchor = gettext('Current') %}
    {% else %}
        {% set route = '%s/%s/'|format(namespace, year) %}
        {% set anchor = year %}
    {% endif %}

    {% if route == page.url %}
    {% else %}
        <a href="{{ SITEURL }}/{{ route }}" title="{{ anchor }}" class="btn btn-default">
            {{ anchor }}
        </a>
    {% endif %}
    {% endfor %}
</div>
{%- endmacro %}


{% macro share(page, odi, namespace) -%}
<h4>{{ gettext('Share this data with others') }}</h4>
<div class="btn-group">
  <a href="http://twitter.com/share?url={{ SITEURL }}/{{ page.url }}&text={{ share_page_template }}" class="btn btn-default" target="_blank">
    <i class="fa fa-twitter-square"></i> {{ gettext('Twitter') }}
  </a>
  <a href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ page.url }}" class="btn btn-default" target="_blank">
    <i class="fa fa-facebook-square"></i> {{ gettext('Facebook') }}
  </a>
  <a href="https://plus.google.com/share?url={{ SITEURL }}/{{ page.url }}" class="btn btn-default" target="_blank">
    <i class="fa fa-google-plus-square"></i> {{ gettext('Google+') }}
  </a>
</div>
{%- endmacro %}


{% macro popover_slice_title(question, state) -%}
<h4>{% filter markdown %}{{ question }}? {% if state == 'Y' %}{{ gettext('Yes') }}{% elif state == 'N' %}{{ gettext('No') }}{% elif state == '?' %}{{ gettext('Unknown') }}{% endif %}{% endfilter %}</h4>
{%- endmacro %}


{% macro popover_slice_content(description) -%}
{{ description|markdown }}
{%- endmacro %}
