{% extends 'embed.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/map.css" />
{% endblock head_css %}

{% block head_scripts %}
{{ super() }}
<script data-main="{{ SITEURL }}/static/scripts/map" src="{{ SITEURL }}/static/scripts/require.js"></script>
{% endblock head_scripts %}

{% block body_scripts %}{% endblock body_scripts %}

{% block content %}
<div class="odi-vis odi-vis-choropleth">
    <div class="odi-vis-view">
        <div class="odi-vis-display">
            <div id="map"></div>
            <div class="odi-vis-title"></div>
        </div>
    </div>
    <div class="odi-vis-meta">
        <div class="odi-vis-meta-left">

            <!--a class="odi-vis-logo" target="_parent" href="{{ SITEURL }}/" title="{{ gettext('Go to the %(sitename)s website', sitename=SITENAME) }}">&nbsp;</a-->

            <a class="odi-vis-name" target="_parent" href="{{ SITEURL }}/" title="{{ gettext('Go to the %(sitename)s website', sitename=SITENAME) }}">{{ SITENAME }}</a>

            <div class="odi-vis-tools">
                <i class="icon icon-filter" title="Filter the vis data"></i>
                <select class="odi-filter-year"></select>
                <select class="odi-filter-dataset">
                    <option value="all">{{ gettext('All Datasets') }}</option>
                </select>
            </div>

        </div>
        <div class="odi-vis-meta-right">

            <div class="odi-vis-legend odi-vis-show-info"
                 title="{{ gettext('Information on the how to read the map') }}"
                 data-title="{{ gettext('How to read the map') }}"
                 data-text="{{ gettext('This visualisation presents data from the Open Data Index on a choropleth map, colour-coded based on score.') }}">
                <ul>
                    <li data-score="0">&nbsp;</li>
                    <li data-score="100">&nbsp;</li>
                </ul>
            </div>

            <div class="odi-vis-help odi-vis-show-info"
                 title="{{ gettext('See the credits and license information') }}"
                 data-title="{{ gettext('About and credits') }}"
                 data-text="{{ gettext('The Open Data Index is an initiative of Open Knowledge. Information about licensing, and credits and copyright goes right here.') }}">
                <span class="odi-vis-action"><i class="fa fa-info-circle"></i></span>
            </div>

            <div class="odi-vis-embed odi-vis-show-info"
                 title="{{ gettext('Embed this visualisation') }}"
                 data-title="{{ gettext('Embed this visualisation') }}"
                 data-text="{{ gettext('Copy the embed code below, and adjust the params as required for your website.') }}">
                <span class="odi-vis-action"><i class="fa fa-code"></i></span>
            </div>

            <div class="odi-vis-share"
                 title="{{ gettext('Share this visualisation with others') }}">
                <a target="_blank" href="http://twitter.com/share?url={{ SITEURL }}&text={{ share_page_template }}" title="{{ gettext('Share this visualisation on Twitter') }}"><i class="fa fa-twitter-square"></i></a>&nbsp;<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}" title="{{ gettext('Share this visualisation on Facebook') }}"><i class="fa fa-facebook-square"></i></a>&nbsp;<a target="_blank" href="https://plus.google.com/share?url={{ SITEURL }}" title="{{ gettext('Share this visualisation on Google+') }}"><i class="fa fa-google-plus-square"></i></a>&nbsp;
            </div>

        </div>
    </div>
    <div class="odi-vis-info"></div>
    <div class="odi-vis-place"></div>
</div>

<!--Templates for LoDash-->
<script type="text/template" class="info-box">
    <div class="odi-vis-info-title"><%= title %><span class="odi-vis-info-close"><i class="fa fa-close"></i></span></div>
    <div class="odi-vis-info-text"><%= text %></div>
    <%= embed_code %>
</script>

<script type="text/template" class="place-box">
    <div class="odi-vis-place-title"><%= title %><span class="odi-vis-place-close"><i class="fa fa-close"></i></span></div>
    <div class="odi-vis-place-text">
        <p>
            <%= name %> {{ gettext('is ranked at') }} <strong>#<%= rank %></strong> {{ gettext('in the') }} <%= year %> {{ gettext('Index') }} {{ gettext('with a score of') }} <strong><%= score %>&#37;</strong><% if (previous_score) { %>, (<%= previous_score %>&#37; {{ gettext('the previous year') }})<% } %>.
        </p>
        <a class="odi-vis-place-action" href="{{ SITEURL }}/place/<%= slug %>/" title="{{ gettext('More information about') }} <%= name %> {{ gettext('in the') }} <%= year %> {{ SITENAME }}">{{ gettext('Find out more') }}</a>
    </div>
</script>

<script type="text/template" class="place-tooltip">
    <span><%= title %>: <span>#<%= rank %></span> </span><span><%= score %>%</span>
</script>

<script type="text/template" class="year-options">
    <option value="<%= year %>" <%= selected %>><%= year %></option>
</script>

<script type="text/template" class="title-box">
    <%= title %>
</script>

<script type="text/template" class="dataset-options">
    <option value="<%= dataset_id %>" <%= selected %>><%= dataset %></option>
</script>

<script type="text/template" class="embed-code">
    <xmp contenteditable="true"><iframe width="100%" height="508px" src="{{ SITEURL }}/{{ page.slug }}<%= state_params %>" frameBorder="0"></iframe></xmp>
</script>

{% endblock content %}
