{% extends 'embed.html' %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/static/css/map.css" />
{% endblock head_css %}

{% block head_scripts %}
{{ super() }}
<script data-main="{{ SITEURL }}/static/scripts/map" src="{{ SITEURL }}/static/scripts/require.js"></script>
{% endblock head_scripts %}

{% block body_scripts %}{% endblock body_scripts %}

{% block content %}
<div class="odi-visualisation">
    <div class="odi-visualisation-header">
        <div class="odi-visualisation-tools">
            <i class="icon icon-filter" title="Filter the visualisation data"></i>
            <select class="odi-filter-year">

            </select>
            <select class="odi-filter-dataset">
                <option value="all">{{ gettext('All Datasets') }}</option>
            </select>
        </div>
        <div class="odi-visualisation-share">
            <span class="odi-visualisation-embed-toggle" title="{{ gettext('Get the embed code for this visualisation') }}"><i class="fa fa-code"></i></span>&nbsp;<a target="_blank" href="http://twitter.com/share?url={{ SITEURL }}/{{ page.slug }}&text={{ share_page_template }}" title="{{ gettext('Share this visualisation on Twitter') }}"><i class="fa fa-twitter-square"></i></a>&nbsp;<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ page.slug }}" title="{{ gettext('Share this visualisation on Facebook') }}"><i class="fa fa-facebook-square"></i></a>&nbsp;<a target="_blank" href="https://plus.google.com/share?url={{ SITEURL }}/{{ page.slug }}" title="{{ gettext('Share this visualisation on Google+') }}"><i class="fa fa-google-plus-square"></i></a>&nbsp;
        </div>
    </div>
    <div class="odi-visualisation-view">
        <div class="odi-visualisation-display">

            <div id="map"></div>

        </div>
        <div class="odi-visualisation-legend odi-visualisation-legend-explanation-toggle">
            <div class="odi-visualisation-legend-key">
                <ul>
                    <li data-score="100">100</li>
                    <li data-score="90">90</li>
                    <li data-score="80">80</li>
                    <li data-score="70">70</li>
                    <li data-score="60">60</li>
                    <li data-score="50">50</li>
                    <li data-score="40">40</li>
                    <li data-score="30">30</li>
                    <li data-score="20">20</li>
                    <li data-score="10">10</li>
                    <li data-score="0">0</li>
                </ul>
                <div class="odi-visualisation-legend-explanation">
                    <div class="odi-visualisation-legend-explanation-title">
                        {{ gettext('How does this work?') }}
                        <span class="odi-visualisation-legend-explanation-toggle">x</span>
                    </div>
                    <div class="odi-visualisation-legend-explanation-text">
                        {{ gettext('By default, places on the map are color coded by their "Openness", as determined by the results of the Open Data Index. Scaled from green to red, where green is "open" and red is "closed".') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="odi-visualisation-footer">
        <div class="odi-visualisation-links">
            <a class="odi-visualisation-permalink" target="_blank" href="{{ SITEURL }}/{{ page.rel_permalink }}" title="{{ gettext('Go to the permalink for this visualisation') }}">{{ gettext('Permalink') }}</a>&nbsp;&nbsp;&nbsp;<a target="_blank" href="{{ SITEURL }}/" title="{{ gettext('Go to the %(sitename)s website', sitename=SITENAME) }}">{{ SITENAME }}</a>&nbsp;&nbsp;&nbsp;<a target="_blank" href="{{ ODI.survey.domain }}" title="{{ gettext('Go to the %(survey)s website', survey=ODI.survey.name) }}">{{ ODI.survey.name }}</a>
        </div>
        <div class="odi-visualisation-credits">
            {{ gettext('An') }} <a target="_blank" href="{{ ODI.sponsor.domain }}" title="{{ gettext('Go to the %(sponsor)s', sponsor=ODI.sponsor.name) }} website') }}">{{ ODI.sponsor.name }}</a> {{ gettext('project') }}. [Licensing and usage terms]
        </div>
    </div>

    <div class="odi-visualisation-embed-iframe">
        <div class="odi-visualisation-embed-iframe-title">
            {{ gettext('Embed this visualisation') }}
            <span class="odi-visualisation-embed-toggle" title="Close this modal">x</span>
        </div>
        <div class="odi-visualisation-embed-iframe-text">
            {{ gettext('Use the following code to embed this visualisation in your own website.') }}
        </div>
        <xmp contenteditable="true"><iframe width="100%" height="100%"src="{{ SITEURL }}/{{ page.slug }}" frameBorder="0"></iframe></xmp>
    </div>

</div>
{% endblock content %}
