{% extends 'page.html' %}

{% from 'macros.html' import history, share %}
{% from '_scope.html' import scope with context %}

{% do scope.update({
  'embed_height': '360px',
  'embed_title': '%s %s'|format(scope.place.name, page.year),
  'panel_tools': 'false',
  'panel_share': 'false',
}) %}

{% set fragment = '%s/%s'|format('place', scope.place.slug) %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li><a href="{{ SITEURL }}/place">{{ gettext('Places')}}</a></li>
  <li class="active">{{ scope.place.name }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}
<header id="place-intro" class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>
        {{ scope.place.name }} {% if page.year != ODI.current_year %}{{ page.year }}{% endif %}
        <span class="label label-default place-openness" data-score="{{ scope.place[scope.score_lookup] or ODI.na }}">{{ scope.place[scope.score_lookup] }}% {{ gettext('open') }}</span>
      </h1>
      <p class="lead">
        <strong>#{{ scope.place[scope.rank_lookup] }} {{ gettext('in the Index') }}</strong>
        {% if scope.place[scope.rank_lookup_previous] %}
          <br>
          <small>
            {% if scope.place[scope.rank_lookup_previous]|int >
               scope.place[scope.rank_lookup]|int
            %}
            {{ scope.higher }}
            {% elif scope.place[scope.rank_lookup_previous]|int <
               scope.place[scope.rank_lookup]|int
            %}
            {{ scope.lower }}
            {% else %}
            {{ scope.no_change }}
            {% endif %}
            from #{{ scope.place[scope.rank_lookup_previous] }} in {{ ODI.previous_year }}
          </small>
        {% endif %}
      </p>
      {{ page.content }}
      {{ history(page, ODI, fragment) }}
      {{ share(page, ODI, fragment, scope.social_share_text) }}
    </div>
    <div class="col-md-6">
      <div id="map-container">
        {% include 'dataviews/embed_map.html' %}
      </div>
    </div>
  </div>
</header>

<section id="place-slice-table">
  {% include 'dataviews/table_slice_place.html' %}
</section>

<section id="place-contributors">
  <h2>{{ gettext('Contributors') }}</h2>
  <p>
    {{ gettext('The following people have made this possible') }}:
  </p>
  {% if scope.place.reviewers %}
  <h4>{{ gettext('Reviewers') }}</h4>
  <ul>
  {% for reviewer in scope.place.reviewers %}
    <li>{{ reviewer }}</li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if scope.place.submitters %}
  <h4>{{ gettext('Submitters') }}</h4>
  <ul>
  {% for submitter in scope.place.submitters %}
    <li>{{ submitter }}</li>
  {% endfor %}
  </ul>
  {% endif %}
</section>
{% endblock content %}
