{% extends 'page.html' %}
{% from 'macros.html' import history %}

{% block heading %}{% endblock heading %}

{% block content %}
{% from '_scope.html' import scope with context %}
{% do scope.update({
  'entries': scope.entries|where('place', page.place),
  'place': scope.places|where('id', page.place)|first
}) %}

<header id="place-intro" class="page-header">
  <h1>
    {{ scope.place.name }}
    <span class="label label-default place-openness" data-score="{{ scope.place[scope.score_lookup] or ODI.na }}">{{ scope.place[scope.score_lookup] }}% open</span>
  </h1>
  <p class="lead">
    #{{ scope.place[scope.rank_lookup] }} {{ gettext('in the Index') }}
    {% if scope.place[scope.rank_lookup_previous] %}
      <br>
      <small>
        {% if scope.place[scope.rank_lookup_previous]|int >
           scope.place[scope.rank_lookup]|int
        %}
        {{ scope.lower }}
        {% elif scope.place[scope.rank_lookup_previous]|int <
           scope.place[scope.rank_lookup]|int
        %}
        {{ scope.higher }}
        {% else %}
        {{ scope.no_change }}
        {% endif %}
        from #{{ scope.place[scope.rank_lookup_previous] }} in {{ ODI.previous_year }}
      </small>
    {% endif %}
  </p>
  {{ page.content }}
</header>

{#<div>{% include 'dataviews/embed_map.html' %}</div>#}

<section id="place-slice-table">
  {% include 'dataviews/table_slice_place.html' %}
</section>

<section id="place-contributors">
  <h2>{{ gettext('Contributors') }}</h2>
  <p>
    {{ gettext('The following people have made this possible') }}:
  </p>
  <h4>{{ gettext('Reviews') }}</h4>
  <ul>
    <li>Someone</li>
  </ul>
  <h4>Submissions</h4>
  <ul>
    <li>Someone</li>
  </ul>
</section>


{{ history(page, ODI, '%s%s'|format('places/', page.place)) }}


{% endblock content %}
