{% extends 'page.html' %}

{% from 'macros.html' import history, share %}

{% set fragment = 'place' %}

{% block heading %}{% endblock heading %}

{% block breadcrumbs_inner %}
  <li class="active">{{ gettext('Places') }}</li>
{% endblock breadcrumbs_inner %}

{% block content %}
{% from '_scope.html' import scope with context %}

<header id="place-intro" class="page-header">
  <h1>{{ gettext('Place overview')}} {% if page.year != ODI.current_year %}{{ page.year }}{% endif %}</h1>
  <hr />
  {{ page.content }}
  {% include 'dataviews/summary.html' %}
</header>
{% include 'dataviews/table_places.html' %}
{% endblock content %}
