{% assign entries = site.data.entries %}
{% assign datasets = site.data.datasets %}
{% assign places = site.data.places | sort: "2014_rank" %}
{% assign questions = site.data.questions %}
{% assign scope_dataset = include.dataset %}
{% assign scope_place = include.place %}
{% assign scope_year = include.year %}

{% if page.place %}
{% assign places = places | where: "slug", page.place %}
{% endif %}

<div class="row">
    <div class="col-md-8">
        {% include partials/dataviews/table_tools.html %}
    </div>
    <div class="col-md-4">
        {% include partials/dataviews/table_key.html %}
    </div>
</div>

<section class="data-display">
    <div class="row">
        <div class="col-md-12">
            <table id="slice-table" class="table table-striped data-table">
                <thead>
                {% include partials/dataviews/slice_table_header.html %}
                </thead>
                <tbody>
                {% for dataset in datasets %}

                {% assign entry = entries | where: "place", scope_place | where: "dataset", dataset.id | where: "year", scope_year | first %}
                {% assign earliest_in_series = entries | entries | where: "place", scope_place | where: "dataset", dataset.id | last %}

                <tr data-rank="{{ entry.rank }}" data-score="{{ entry.score }}" data-place="{{ place.slug }}">
                    <td>
                        <a href="{{ site.baseurl }}/places/{{ scope_place }}/datasets/{{ dataset.id }}/" title="{{ dataset.title }} in {{ place.name }}">{{ dataset.title }}</a>
                    </td>
                    <td>
                        {% if entry.score %}{{ entry.score }}%{% else %}{{ site.odi.na }}{% endif %}
                    </td>
                    <td>
                        <ul class="availability availability-slice">
                            {% for question in questions %}
                            {% unless question.has_score != 'TRUE' %}

                            {% capture popover_title %}
                            {{ question.question | markdownify }}
                            {% endcapture %}

                            {% capture popover_content %}
                            {{ question.description | markdownify }}
                            {% endcapture %}

                            {% assign state = entry[question.id] %}
                            <li class="{% if state == 'Yes' %}yes{% elsif state == 'No' %}no{% elsif state == '?' %}maybe{% endif %}" data-toggle="popover" title="{{ popover_title | escape }}" data-content="{{ popover_content | escape }}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;</li>
                            {% endunless %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if entry.url %}
                        <a href="{{ entry.url }}" title="">{{ entry.url }}</a>
                        {% else %}
                        No URL for this dataset.
                        {% endif %}
                    </td>
                    <td>
                        {% if earliest_in_series %}Since {{ earliest_in_series.year }}{% endif %}{% if entry.format %} in {{ entry.format }} format.{% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-8">
        &nbsp;
    </div>
    <div class="col-md-4">
        {% include partials/dataviews/table_key.html %}
    </div>
</div>
