{% from 'macros.html' import popover_slice_title, popover_slice_content %}


{% set entries = page.data.entries.dict %}
{% set datasets = page.data.datasets.dict %}
{% set places = page.data.places.dict|sort(attribute='2014_rank') %}
{% set questions = page.data.questions.dict %}
{% set scope_dataset = page.dataset %}
{% set scope_place = page.place %}
{% set scope_year = page.year %}

{% if page.place %}
{% set places = places|where('slug', page.place) %}
{% endif %}

<div class="row">
    <div class="col-md-8">
        {% include 'dataviews/table_tools.html' %}
    </div>
    <div class="col-md-4">
        {% include 'dataviews/table_key.html' %}
    </div>
</div>

<section class="data-display">
    <div class="row">
        <div class="col-md-12">
            <table id="slice-table" class="table table-striped data-table">
                <thead>
                {% include 'dataviews/slice_table_header.html' %}
                </thead>
                <tbody>
                {% for dataset in datasets %}

                {% set entry = entries|where('place', scope_place)|where('dataset', dataset.id)|where('year', scope_year)|first %}
                {% set earliest_in_series = entries|where('place', scope_place)|where('dataset', dataset.id)|last %}

                <tr data-rank="{% if entry %}{{ entry.rank }}{% else %}{{ ODI.na }}{% endif %}" data-score="{% if entry %}{{ entry.score }}{% else %}{{ ODI.na }}{% endif %}" data-place="{% if entry %}{{ entry.place }}{% else %}{{ ODI.na }}{% endif %}">
                    <td>
                        <a href="{{ SITEURL }}/places/{{ scope_place }}/datasets/{{ dataset.id }}/" title="{{ dataset.title }} in {{ scope_place }}">{{ dataset.title }}</a>
                    </td>
                    <td>
                        {% if entry and entry.score %}
                        {{ entry.score }}%
                        {% else %}
                        {{ ODI.na }}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="availability availability-slice">
                            {% for question in questions %}
                            {% if question.has_score %}

                            {% if entry %}
                            {% set state = entry[question.id] %}
                            {% else %}
                            {% set state = '' %}
                            {% endif %}

                            <li class="{% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == '?' %}maybe{% endif %}" data-toggle="popover" title="{{ popover_slice_title(question.question)|e|safe }}" data-content="{{ popover_slice_content(question.description)|e|safe }}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;</li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if entry and entry.url %}
                        <a href="{{ entry.url }}" title="">{{ entry.url }}</a>
                        {% else %}
                        No URL for this dataset.
                        {% endif %}
                    </td>
                    <td>
                        {% if earliest_in_series %}
                        Since {{ earliest_in_series.year }}
                        {% endif %}
                        {% if entry and entry.format %}
                         in {{ entry.format }} format.
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-md-8">
        &nbsp;
    </div>
    <div class="col-md-4">
        {% include 'dataviews/table_key.html' %}
    </div>
</div>
